HydraWebClient/Service References/HydraConfigurationService/HydraCore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydraCore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydraCore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServerConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Greet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerConfig" nillable="true" type="tns:ServerConfig" />
</xs:schema>