HydraWebClient/Service References/HydraConfigurationService/HydraService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydraService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydraService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="ArrayOfServerBindingConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerBindingConfiguration" nillable="true" type="tns:ServerBindingConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerBindingConfiguration" nillable="true" type="tns:ArrayOfServerBindingConfiguration" />
  <xs:complexType name="ServerBindingConfiguration">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Address" nillable="true" type="q1:IPAddress" />
      <xs:element minOccurs="0" name="EnableSsl" type="xs:boolean" />
      <xs:element minOccurs="0" name="EnforceTLS" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerBindingConfiguration" nillable="true" type="tns:ServerBindingConfiguration" />
  <xs:complexType name="ArrayOfServerSubnetConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerSubnetConfiguration" nillable="true" type="tns:ServerSubnetConfiguration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerSubnetConfiguration" nillable="true" type="tns:ArrayOfServerSubnetConfiguration" />
  <xs:complexType name="ServerSubnetConfiguration">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Address" nillable="true" type="q2:IPAddress" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerSubnetConfiguration" nillable="true" type="tns:ServerSubnetConfiguration" />
  <xs:complexType name="ArrayOfLocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUser" nillable="true" type="tns:LocalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUser" nillable="true" type="tns:ArrayOfLocalUser" />
  <xs:complexType name="LocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mailbox" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUser" nillable="true" type="tns:LocalUser" />
</xs:schema>