HydraWebClient/Service References/HydraConfigurationService/HydraService.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HydraService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HydraService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HydraCore" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Authentication" />
  <xs:complexType name="ArrayOfDomain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Domain" nillable="true" type="tns:Domain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomain" nillable="true" type="tns:ArrayOfDomain" />
  <xs:complexType name="Domain">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SendConnectorId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Domain" nillable="true" type="tns:Domain" />
  <xs:complexType name="RecieveConnector">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HydraCore" minOccurs="0" name="RemoteIPRanges" nillable="true" type="q1:ArrayOfIPRange" />
      <xs:element minOccurs="0" name="RequireAuth" type="xs:boolean" />
      <xs:element minOccurs="0" name="TLSSettings" nillable="true" type="tns:TLSSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecieveConnector" nillable="true" type="tns:RecieveConnector" />
  <xs:complexType name="TLSSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthLevel" type="tns:TLSAuthLevel" />
      <xs:element minOccurs="0" name="CertificateDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificatePassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net.Security" minOccurs="0" name="EncryptionPolicy" type="q2:EncryptionPolicy" />
      <xs:element minOccurs="0" name="IsFilesystemCertificate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mode" type="tns:TLSMode" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Security.Authentication" minOccurs="0" name="SslProtocols" type="q3:SslProtocols" />
      <xs:element minOccurs="0" name="ValidateCertificateRevocation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TLSSettings" nillable="true" type="tns:TLSSettings" />
  <xs:simpleType name="TLSAuthLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EncryptionOnly" />
      <xs:enumeration value="CertificateValidation" />
      <xs:enumeration value="DomainValidation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TLSAuthLevel" nillable="true" type="tns:TLSAuthLevel" />
  <xs:simpleType name="TLSMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Required" />
      <xs:enumeration value="FullTunnel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TLSMode" nillable="true" type="tns:TLSMode" />
  <xs:complexType name="ArrayOfRecieveConnector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RecieveConnector" nillable="true" type="tns:RecieveConnector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecieveConnector" nillable="true" type="tns:ArrayOfRecieveConnector" />
  <xs:complexType name="SendConnector">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalAddressString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteAddressString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemotePort" type="xs:int" />
      <xs:element minOccurs="0" name="TLSSettings" nillable="true" type="tns:TLSSettings" />
      <xs:element minOccurs="0" name="UseAuth" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSmarthost" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendConnector" nillable="true" type="tns:SendConnector" />
  <xs:complexType name="ArrayOfSendConnector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendConnector" nillable="true" type="tns:SendConnector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendConnector" nillable="true" type="tns:ArrayOfSendConnector" />
  <xs:complexType name="ArrayOfLocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUser" nillable="true" type="tns:LocalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUser" nillable="true" type="tns:ArrayOfLocalUser" />
  <xs:complexType name="LocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mailbox" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUser" nillable="true" type="tns:LocalUser" />
  <xs:complexType name="ArrayOfUserTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTemplate" nillable="true" type="tns:UserTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTemplate" nillable="true" type="tns:ArrayOfUserTemplate" />
  <xs:complexType name="UserTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTemplate" nillable="true" type="tns:UserTemplate" />
  <xs:complexType name="ArrayOfExternalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalUser" nillable="true" type="tns:ExternalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalUser" nillable="true" type="tns:ArrayOfExternalUser" />
  <xs:complexType name="ExternalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mailbox" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalUser" nillable="true" type="tns:ExternalUser" />
</xs:schema>