HydraWebClient/Service References/HydraConfigurationService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IConfigurationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
        </msf:Streamed>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HydraService.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HydraCore" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Authentication" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationService_SetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProperty" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDomains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDomains" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDomains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDomain" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDomain" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDomain" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDomain" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultRecieveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultRecieveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultRecieveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultRecieveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetRecieveConnectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecieveConnectors" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetRecieveConnectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecieveConnectorsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetRecieveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecieveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetRecieveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecieveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddRecieveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecieveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddRecieveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecieveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateRecieveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecieveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateRecieveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRecieveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteRecieveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecieveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteRecieveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecieveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmptySendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptySendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmptySendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptySendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetDefaultSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetDefaultSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnectors" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnectorsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ExportExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ExportExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetCertificateFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateFiles" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetCertificateFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationService">
    <wsdl:operation name="SetProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetProperty" message="tns:IConfigurationService_SetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetPropertyResponse" message="tns:IConfigurationService_SetProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetDomains" message="tns:IConfigurationService_GetDomains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetDomainsResponse" message="tns:IConfigurationService_GetDomains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetDomain" message="tns:IConfigurationService_GetDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetDomainResponse" message="tns:IConfigurationService_GetDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateDomain" message="tns:IConfigurationService_UpdateDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateDomainResponse" message="tns:IConfigurationService_UpdateDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddDomain" message="tns:IConfigurationService_AddDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddDomainResponse" message="tns:IConfigurationService_AddDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteDomain" message="tns:IConfigurationService_DeleteDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteDomainResponse" message="tns:IConfigurationService_DeleteDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultRecieveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultRecieveConnector" message="tns:IConfigurationService_GetDefaultRecieveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultRecieveConnectorResponse" message="tns:IConfigurationService_GetDefaultRecieveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecieveConnectors">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetRecieveConnectors" message="tns:IConfigurationService_GetRecieveConnectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetRecieveConnectorsResponse" message="tns:IConfigurationService_GetRecieveConnectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecieveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetRecieveConnector" message="tns:IConfigurationService_GetRecieveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetRecieveConnectorResponse" message="tns:IConfigurationService_GetRecieveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecieveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddRecieveConnector" message="tns:IConfigurationService_AddRecieveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddRecieveConnectorResponse" message="tns:IConfigurationService_AddRecieveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRecieveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateRecieveConnector" message="tns:IConfigurationService_UpdateRecieveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateRecieveConnectorResponse" message="tns:IConfigurationService_UpdateRecieveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecieveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteRecieveConnector" message="tns:IConfigurationService_DeleteRecieveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteRecieveConnectorResponse" message="tns:IConfigurationService_DeleteRecieveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptySendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetEmptySendConnector" message="tns:IConfigurationService_GetEmptySendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetEmptySendConnectorResponse" message="tns:IConfigurationService_GetEmptySendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultSendConnector" message="tns:IConfigurationService_GetDefaultSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultSendConnectorResponse" message="tns:IConfigurationService_GetDefaultSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetDefaultSendConnector" message="tns:IConfigurationService_SetDefaultSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetDefaultSendConnectorResponse" message="tns:IConfigurationService_SetDefaultSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSendConnectors">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnectors" message="tns:IConfigurationService_GetSendConnectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnectorsResponse" message="tns:IConfigurationService_GetSendConnectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnector" message="tns:IConfigurationService_GetSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnectorResponse" message="tns:IConfigurationService_GetSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddSendConnector" message="tns:IConfigurationService_AddSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddSendConnectorResponse" message="tns:IConfigurationService_AddSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateSendConnector" message="tns:IConfigurationService_UpdateSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateSendConnectorResponse" message="tns:IConfigurationService_UpdateSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteSendConnector" message="tns:IConfigurationService_DeleteSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteSendConnectorResponse" message="tns:IConfigurationService_DeleteSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsers" message="tns:IConfigurationService_GetLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsersResponse" message="tns:IConfigurationService_GetLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUser" message="tns:IConfigurationService_GetLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserResponse" message="tns:IConfigurationService_GetLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalUser" message="tns:IConfigurationService_AddLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalUserResponse" message="tns:IConfigurationService_AddLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalUser" message="tns:IConfigurationService_UpdateLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalUserResponse" message="tns:IConfigurationService_UpdateLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalUser" message="tns:IConfigurationService_DeleteLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalUserResponse" message="tns:IConfigurationService_DeleteLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUsers" message="tns:IConfigurationService_GetExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUsersResponse" message="tns:IConfigurationService_GetExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUser" message="tns:IConfigurationService_GetExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUserResponse" message="tns:IConfigurationService_GetExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddExternalUser" message="tns:IConfigurationService_AddExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddExternalUserResponse" message="tns:IConfigurationService_AddExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateExternalUser" message="tns:IConfigurationService_UpdateExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateExternalUserResponse" message="tns:IConfigurationService_UpdateExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteExternalUser" message="tns:IConfigurationService_DeleteExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteExternalUserResponse" message="tns:IConfigurationService_DeleteExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ExportExternalUsers" message="tns:IConfigurationService_ExportExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ExportExternalUsersResponse" message="tns:IConfigurationService_ExportExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ImportExternalUsers" message="tns:IConfigurationService_ImportExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ImportExternalUsersResponse" message="tns:IConfigurationService_ImportExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetCertificateFiles" message="tns:IConfigurationService_GetCertificateFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetCertificateFilesResponse" message="tns:IConfigurationService_GetCertificateFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/Start" message="tns:IConfigurationService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/StartResponse" message="tns:IConfigurationService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/Stop" message="tns:IConfigurationService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/StopResponse" message="tns:IConfigurationService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/IsRunning" message="tns:IConfigurationService_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/IsRunningResponse" message="tns:IConfigurationService_IsRunning_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IConfigurationService" type="tns:IConfigurationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IConfigurationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetProperty">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDomain">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDomain">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDomain">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultRecieveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetDefaultRecieveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecieveConnectors">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetRecieveConnectors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecieveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetRecieveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecieveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddRecieveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRecieveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateRecieveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecieveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteRecieveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptySendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetEmptySendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetDefaultSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SetDefaultSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendConnectors">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetSendConnectors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ExportExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ImportExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFiles">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetCertificateFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/IsRunning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="NetTcpBinding_IConfigurationService" binding="tns:NetTcpBinding_IConfigurationService">
      <soap12:address location="net.tcp://localhost:13339/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:13339/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>