HydraWebClient/Service References/HydraConfigurationService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IConfigurationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HydraService.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HydraCore" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Authentication" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationService_SetProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:SetProperty" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetServerBindings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerBindings" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetServerBindings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerBindingsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetServerBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServerBinding" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetServerBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddServerBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServerBinding" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddServerBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServerBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateServerBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServerBinding" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateServerBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServerBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteServerBinding_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServerBinding" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteServerBinding_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServerBindingResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSubnets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubnets" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSubnets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubnetsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSubnet_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSubnet" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSubnet_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSubnetResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddSubnet_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSubnet" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddSubnet_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSubnetResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateSubnet_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubnet" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateSubnet_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSubnetResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteSubnet_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubnet" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteSubnet_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSubnetResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationService">
    <wsdl:operation name="SetProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetProperty" message="tns:IConfigurationService_SetProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetPropertyResponse" message="tns:IConfigurationService_SetProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerBindings">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetServerBindings" message="tns:IConfigurationService_GetServerBindings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetServerBindingsResponse" message="tns:IConfigurationService_GetServerBindings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServerBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetServerBinding" message="tns:IConfigurationService_GetServerBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetServerBindingResponse" message="tns:IConfigurationService_GetServerBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddServerBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddServerBinding" message="tns:IConfigurationService_AddServerBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddServerBindingResponse" message="tns:IConfigurationService_AddServerBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServerBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateServerBinding" message="tns:IConfigurationService_UpdateServerBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateServerBindingResponse" message="tns:IConfigurationService_UpdateServerBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServerBinding">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteServerBinding" message="tns:IConfigurationService_DeleteServerBinding_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteServerBindingResponse" message="tns:IConfigurationService_DeleteServerBinding_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubnets">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetSubnets" message="tns:IConfigurationService_GetSubnets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetSubnetsResponse" message="tns:IConfigurationService_GetSubnets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSubnet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetSubnet" message="tns:IConfigurationService_GetSubnet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetSubnetResponse" message="tns:IConfigurationService_GetSubnet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSubnet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddSubnet" message="tns:IConfigurationService_AddSubnet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddSubnetResponse" message="tns:IConfigurationService_AddSubnet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSubnet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateSubnet" message="tns:IConfigurationService_UpdateSubnet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateSubnetResponse" message="tns:IConfigurationService_UpdateSubnet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSubnet">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteSubnet" message="tns:IConfigurationService_DeleteSubnet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteSubnetResponse" message="tns:IConfigurationService_DeleteSubnet_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsers" message="tns:IConfigurationService_GetLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsersResponse" message="tns:IConfigurationService_GetLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUser" message="tns:IConfigurationService_GetLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserResponse" message="tns:IConfigurationService_GetLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalUser" message="tns:IConfigurationService_AddLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalUserResponse" message="tns:IConfigurationService_AddLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalUser" message="tns:IConfigurationService_UpdateLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalUserResponse" message="tns:IConfigurationService_UpdateLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalUser" message="tns:IConfigurationService_DeleteLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalUserResponse" message="tns:IConfigurationService_DeleteLocalUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IConfigurationService" type="tns:IConfigurationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IConfigurationService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SetProperty">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SetProperty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerBindings">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetServerBindings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServerBinding">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetServerBinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddServerBinding">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddServerBinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateServerBinding">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateServerBinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteServerBinding">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteServerBinding" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubnets">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetSubnets" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSubnet">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetSubnet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSubnet">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddSubnet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSubnet">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateSubnet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSubnet">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteSubnet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="NetTcpBinding_IConfigurationService" binding="tns:NetTcpBinding_IConfigurationService">
      <soap12:address location="net.tcp://localhost:13339/service" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:13339/service</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>