Granikos.Hydra.WebClient/Service References/HydraConfigurationService/Granikos.Hydra.Service.TimeTables.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.TimeTables" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.TimeTables" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMailTemplateType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MailTemplateType" nillable="true" type="tns:MailTemplateType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMailTemplateType" nillable="true" type="tns:ArrayOfMailTemplateType" />
  <xs:complexType name="MailTemplateType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Behaviour" type="tns:MailTemplateTypeBehaviour" />
      <xs:element minOccurs="0" name="BodyEncoding" type="tns:EncodingType" />
      <xs:element minOccurs="0" name="ContentEncoding" type="tns:EncodingType" />
      <xs:element minOccurs="0" name="HeaderEncoding" type="tns:EncodingType" />
      <xs:element minOccurs="0" name="Html" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailTemplateType" nillable="true" type="tns:MailTemplateType" />
  <xs:simpleType name="MailTemplateTypeBehaviour">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SMTPCompliant" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MailTemplateTypeBehaviour" nillable="true" type="tns:MailTemplateTypeBehaviour" />
  <xs:simpleType name="EncodingType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASCII" />
      <xs:enumeration value="UTF8" />
      <xs:enumeration value="UTF32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EncodingType" nillable="true" type="tns:EncodingType" />
</xs:schema>