Granikos.Hydra.WebClient/Service References/HydraConfigurationService/Granikos.Hydra.Service.Models1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Authentication" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="VersionInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfo" nillable="true" type="tns:VersionInfo" />
  <xs:complexType name="TLSSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthLevel" type="tns:TLSAuthLevel" />
      <xs:element minOccurs="0" name="CertificateDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificatePassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Net.Security" minOccurs="0" name="EncryptionPolicy" type="q2:EncryptionPolicy" />
      <xs:element minOccurs="0" name="IsFilesystemCertificate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mode" type="tns:TLSMode" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Security.Authentication" minOccurs="0" name="SslProtocols" type="q3:SslProtocols" />
      <xs:element minOccurs="0" name="ValidateCertificateRevocation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TLSSettings" nillable="true" type="tns:TLSSettings" />
  <xs:simpleType name="TLSAuthLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EncryptionOnly" />
      <xs:enumeration value="CertificateValidation" />
      <xs:enumeration value="DomainValidation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TLSAuthLevel" nillable="true" type="tns:TLSAuthLevel" />
  <xs:simpleType name="TLSMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Required" />
      <xs:enumeration value="FullTunnel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TLSMode" nillable="true" type="tns:TLSMode" />
  <xs:simpleType name="AttachmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Random" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttachmentType" nillable="true" type="tns:AttachmentType" />
  <xs:simpleType name="ProtocolLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="On" />
      <xs:enumeration value="Verbose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProtocolLevel" nillable="true" type="tns:ProtocolLevel" />
  <xs:simpleType name="ReportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportType" nillable="true" type="tns:ReportType" />
  <xs:complexType name="ArrayOfstringWithCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="stringWithCount" nillable="true" type="tns:stringWithCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfstringWithCount" nillable="true" type="tns:ArrayOfstringWithCount" />
  <xs:complexType name="stringWithCount">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}WithCount" Namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="stringWithCount" nillable="true" type="tns:stringWithCount" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportCount" type="xs:int" />
      <xs:element minOccurs="0" name="OverwrittenCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
  <xs:complexType name="ArrayOfUserTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTemplate" nillable="true" type="tns:UserTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTemplate" nillable="true" type="tns:ArrayOfUserTemplate" />
  <xs:complexType name="UserTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportsPattern" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTemplate" nillable="true" type="tns:UserTemplate" />
  <xs:complexType name="ArrayOfTimeTableTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeTableTypeInfo" nillable="true" type="tns:TimeTableTypeInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeTableTypeInfo" nillable="true" type="tns:ArrayOfTimeTableTypeInfo" />
  <xs:complexType name="TimeTableTypeInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTableTypeInfo" nillable="true" type="tns:TimeTableTypeInfo" />
  <xs:complexType name="MailMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Recipients" nillable="true" type="q4:ArrayOfstring" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailMessage" nillable="true" type="tns:MailMessage" />
</xs:schema>