Granikos.Hydra.WebClient/Service References/HydraConfigurationService/Granikos.Hydra.Service.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Core" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Authentication" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="VersionInfo">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildDate" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfo" nillable="true" type="tns:VersionInfo" />
  <xs:complexType name="ArrayOfDomain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Domain" nillable="true" type="tns:Domain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomain" nillable="true" type="tns:ArrayOfDomain" />
  <xs:complexType name="Domain">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="SendConnectorId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Domain" nillable="true" type="tns:Domain" />
  <xs:complexType name="ArrayOfDomainWithMailboxCount">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DomainWithMailboxCount" nillable="true" type="tns:DomainWithMailboxCount" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomainWithMailboxCount" nillable="true" type="tns:ArrayOfDomainWithMailboxCount" />
  <xs:complexType name="DomainWithMailboxCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailboxCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DomainWithMailboxCount" nillable="true" type="tns:DomainWithMailboxCount" />
  <xs:complexType name="ReceiveConnector">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Banner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="GreylistingTime" nillable="true" type="ser:duration" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Port" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Core" minOccurs="0" name="RemoteIPRanges" nillable="true" type="q2:ArrayOfIPRange" />
      <xs:element minOccurs="0" name="RequireAuth" type="xs:boolean" />
      <xs:element minOccurs="0" name="TLSSettings" nillable="true" type="tns:TLSSettings" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReceiveConnector" nillable="true" type="tns:ReceiveConnector" />
  <xs:complexType name="TLSSettings">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthLevel" type="tns:TLSAuthLevel" />
      <xs:element minOccurs="0" name="CertificateDomain" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificateName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CertificatePassword" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Net.Security" minOccurs="0" name="EncryptionPolicy" type="q3:EncryptionPolicy" />
      <xs:element minOccurs="0" name="IsFilesystemCertificate" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mode" type="tns:TLSMode" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Security.Authentication" minOccurs="0" name="SslProtocols" type="q4:SslProtocols" />
      <xs:element minOccurs="0" name="ValidateCertificateRevocation" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TLSSettings" nillable="true" type="tns:TLSSettings" />
  <xs:simpleType name="TLSAuthLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EncryptionOnly" />
      <xs:enumeration value="CertificateValidation" />
      <xs:enumeration value="DomainValidation" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TLSAuthLevel" nillable="true" type="tns:TLSAuthLevel" />
  <xs:simpleType name="TLSMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Required" />
      <xs:enumeration value="FullTunnel" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TLSMode" nillable="true" type="tns:TLSMode" />
  <xs:complexType name="ArrayOfReceiveConnector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReceiveConnector" nillable="true" type="tns:ReceiveConnector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReceiveConnector" nillable="true" type="tns:ArrayOfReceiveConnector" />
  <xs:complexType name="SendConnector">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LocalAddressString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemoteAddressString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RemotePort" type="xs:int" />
      <xs:element minOccurs="0" name="RetryCount" type="xs:int" />
      <xs:element minOccurs="0" name="RetryTime" type="ser:duration" />
      <xs:element minOccurs="0" name="TLSSettings" nillable="true" type="tns:TLSSettings" />
      <xs:element minOccurs="0" name="UseAuth" type="xs:boolean" />
      <xs:element minOccurs="0" name="UseSmarthost" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SendConnector" nillable="true" type="tns:SendConnector" />
  <xs:complexType name="ArrayOfSendConnector">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SendConnector" nillable="true" type="tns:SendConnector" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSendConnector" nillable="true" type="tns:ArrayOfSendConnector" />
  <xs:complexType name="LocalUsersWithTotal">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}sWithTotal" Namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LocalUser" Namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Entities" nillable="true" type="tns:ArrayOfLocalUser" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUsersWithTotal" nillable="true" type="tns:LocalUsersWithTotal" />
  <xs:complexType name="ArrayOfLocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocalUser" nillable="true" type="tns:LocalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocalUser" nillable="true" type="tns:ArrayOfLocalUser" />
  <xs:complexType name="LocalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mailbox" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocalUser" nillable="true" type="tns:LocalUser" />
  <xs:complexType name="ImportResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ImportCount" type="xs:int" />
      <xs:element minOccurs="0" name="OverwrittenCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ImportResult" nillable="true" type="tns:ImportResult" />
  <xs:complexType name="ArrayOfUserTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserTemplate" nillable="true" type="tns:UserTemplate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserTemplate" nillable="true" type="tns:ArrayOfUserTemplate" />
  <xs:complexType name="UserTemplate">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupportsPattern" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserTemplate" nillable="true" type="tns:UserTemplate" />
  <xs:complexType name="ExternalUsersWithTotal">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="{0}sWithTotal" Namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExternalUser" Namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models">
          </GenericParameter>
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Entities" nillable="true" type="tns:ArrayOfExternalUser" />
      <xs:element minOccurs="0" name="Total" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalUsersWithTotal" nillable="true" type="tns:ExternalUsersWithTotal" />
  <xs:complexType name="ArrayOfExternalUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalUser" nillable="true" type="tns:ExternalUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalUser" nillable="true" type="tns:ArrayOfExternalUser" />
  <xs:complexType name="ExternalUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="DomainId" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mailbox" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalUser" nillable="true" type="tns:ExternalUser" />
  <xs:complexType name="ArrayOfTimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TimeTable" nillable="true" type="tns:TimeTable" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTimeTable" nillable="true" type="tns:ArrayOfTimeTable" />
  <xs:complexType name="TimeTable">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Attachment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttachmentType" type="tns:AttachmentType" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MailContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MailType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxRecipients" type="xs:int" />
      <xs:element minOccurs="0" name="MinRecipients" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Parameters" nillable="true" type="q5:ArrayOfKeyValueOfstringstring" />
      <xs:element minOccurs="0" name="ProtocolLevel" type="tns:ProtocolLevel" />
      <xs:element minOccurs="0" name="RecipientDomainId" type="xs:int" />
      <xs:element minOccurs="0" name="RecipientMailbox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportMailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReportType" type="tns:ReportType" />
      <xs:element minOccurs="0" name="SendConnector" nillable="true" type="tns:SendConnector" />
      <xs:element minOccurs="0" name="SendEicarFile" type="xs:boolean" />
      <xs:element minOccurs="0" name="SenderDomainId" type="xs:int" />
      <xs:element minOccurs="0" name="SenderMailbox" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StaticRecipient" type="xs:boolean" />
      <xs:element minOccurs="0" name="StaticSender" type="xs:boolean" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TimeData" nillable="true" type="q6:ArrayOfstring" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeTable" nillable="true" type="tns:TimeTable" />
  <xs:simpleType name="AttachmentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Fixed" />
      <xs:enumeration value="Random" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AttachmentType" nillable="true" type="tns:AttachmentType" />
  <xs:simpleType name="ProtocolLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="On" />
      <xs:enumeration value="Verbose" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProtocolLevel" nillable="true" type="tns:ProtocolLevel" />
  <xs:simpleType name="ReportType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off" />
      <xs:enumeration value="Daily" />
      <xs:enumeration value="Weekly" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ReportType" nillable="true" type="tns:ReportType" />
  <xs:complexType name="MailMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConnectorId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Recipients" nillable="true" type="q7:ArrayOfstring" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MailMessage" nillable="true" type="tns:MailMessage" />
</xs:schema>