Granikos.Hydra.WebClient/Service References/HydraConfigurationService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IConfigurationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.ViewModels" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Net.Security" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Security.Authentication" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConfigurationService_GetVersionInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionInfo" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetVersionInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVersionInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLogNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogNames" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLogNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLogFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFile" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLogFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogFileResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalGroups" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalGroups" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateExternalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateExternalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddExternalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddExternalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteExternalGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalGroup" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteExternalGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultReceiveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultReceiveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultReceiveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultReceiveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetReceiveConnectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiveConnectors" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetReceiveConnectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiveConnectorsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetReceiveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetReceiveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReceiveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddReceiveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReceiveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddReceiveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReceiveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateReceiveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReceiveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateReceiveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReceiveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteReceiveConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReceiveConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteReceiveConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReceiveConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmptySendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptySendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmptySendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptySendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmptyTimeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyTimeTable" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetEmptyTimeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmptyTimeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetDefaultSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDefaultSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetDefaultSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SetDefaultSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDefaultSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnectors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnectors" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnectors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnectorsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteSendConnector_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSendConnector" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteSendConnector_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSendConnectorResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsersByDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsersByDomain" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsersByDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsersByDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SearchExternalUserDomains_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchExternalUserDomains" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SearchExternalUserDomains_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchExternalUserDomainsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUsersByDomain_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUsersByDomain" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUsersByDomain_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUsersByDomainResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUserCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserCount" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUserCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserCountResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SearchLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SearchLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteLocalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteLocalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ExportLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ExportLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportLocalUsersWithOverwrite_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportLocalUsersWithOverwrite" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportLocalUsersWithOverwrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportLocalUsersWithOverwriteResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GenerateLocalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateLocalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GenerateLocalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateLocalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUserTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserTemplates" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetLocalUserTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLocalUserTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUserCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUserCount" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUserCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUserCountResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SearchExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SearchExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteExternalUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalUser" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteExternalUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteExternalUserResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetMailTemplates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMailTemplates" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetMailTemplates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMailTemplatesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTables_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTables" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTableTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableTypes" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTableTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTableAttachments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableAttachments" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTableAttachments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTableTypeData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableTypeData" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTableTypeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableTypeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTable" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetTimeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddTimeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTimeTable" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_AddTimeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTimeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateTimeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeTable" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_UpdateTimeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTimeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteTimeTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeTable" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_DeleteTimeTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeTableResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ExportExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ExportExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportExternalUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportExternalUsers" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportExternalUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportExternalUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportExternalUsersWithOverwrite_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportExternalUsersWithOverwrite" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_ImportExternalUsersWithOverwrite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportExternalUsersWithOverwriteResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetCertificateFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateFiles" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_GetCertificateFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificateFilesResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_IsRunning_InputMessage">
    <wsdl:part name="parameters" element="tns:IsRunning" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_IsRunning_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsRunningResponse" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SendMail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMail" />
  </wsdl:message>
  <wsdl:message name="IConfigurationService_SendMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMailResponse" />
  </wsdl:message>
  <wsdl:portType name="IConfigurationService">
    <wsdl:operation name="GetVersionInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetVersionInfo" message="tns:IConfigurationService_GetVersionInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetVersionInfoResponse" message="tns:IConfigurationService_GetVersionInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLogNames" message="tns:IConfigurationService_GetLogNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLogNamesResponse" message="tns:IConfigurationService_GetLogNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLogFile" message="tns:IConfigurationService_GetLogFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLogFileResponse" message="tns:IConfigurationService_GetLogFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalGroups" message="tns:IConfigurationService_GetLocalGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalGroupsResponse" message="tns:IConfigurationService_GetLocalGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalGroup" message="tns:IConfigurationService_GetLocalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalGroupResponse" message="tns:IConfigurationService_GetLocalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalGroup" message="tns:IConfigurationService_UpdateLocalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalGroupResponse" message="tns:IConfigurationService_UpdateLocalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalGroup" message="tns:IConfigurationService_AddLocalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalGroupResponse" message="tns:IConfigurationService_AddLocalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalGroup" message="tns:IConfigurationService_DeleteLocalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalGroupResponse" message="tns:IConfigurationService_DeleteLocalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalGroups" message="tns:IConfigurationService_GetExternalGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalGroupsResponse" message="tns:IConfigurationService_GetExternalGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalGroup" message="tns:IConfigurationService_GetExternalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalGroupResponse" message="tns:IConfigurationService_GetExternalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateExternalGroup" message="tns:IConfigurationService_UpdateExternalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateExternalGroupResponse" message="tns:IConfigurationService_UpdateExternalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddExternalGroup" message="tns:IConfigurationService_AddExternalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddExternalGroupResponse" message="tns:IConfigurationService_AddExternalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteExternalGroup" message="tns:IConfigurationService_DeleteExternalGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteExternalGroupResponse" message="tns:IConfigurationService_DeleteExternalGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultReceiveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultReceiveConnector" message="tns:IConfigurationService_GetDefaultReceiveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultReceiveConnectorResponse" message="tns:IConfigurationService_GetDefaultReceiveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiveConnectors">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetReceiveConnectors" message="tns:IConfigurationService_GetReceiveConnectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetReceiveConnectorsResponse" message="tns:IConfigurationService_GetReceiveConnectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReceiveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetReceiveConnector" message="tns:IConfigurationService_GetReceiveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetReceiveConnectorResponse" message="tns:IConfigurationService_GetReceiveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReceiveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddReceiveConnector" message="tns:IConfigurationService_AddReceiveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddReceiveConnectorResponse" message="tns:IConfigurationService_AddReceiveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateReceiveConnector" message="tns:IConfigurationService_UpdateReceiveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateReceiveConnectorResponse" message="tns:IConfigurationService_UpdateReceiveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReceiveConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteReceiveConnector" message="tns:IConfigurationService_DeleteReceiveConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteReceiveConnectorResponse" message="tns:IConfigurationService_DeleteReceiveConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptySendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetEmptySendConnector" message="tns:IConfigurationService_GetEmptySendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetEmptySendConnectorResponse" message="tns:IConfigurationService_GetEmptySendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmptyTimeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetEmptyTimeTable" message="tns:IConfigurationService_GetEmptyTimeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetEmptyTimeTableResponse" message="tns:IConfigurationService_GetEmptyTimeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultSendConnector" message="tns:IConfigurationService_GetDefaultSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetDefaultSendConnectorResponse" message="tns:IConfigurationService_GetDefaultSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDefaultSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SetDefaultSendConnector" message="tns:IConfigurationService_SetDefaultSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SetDefaultSendConnectorResponse" message="tns:IConfigurationService_SetDefaultSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSendConnectors">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnectors" message="tns:IConfigurationService_GetSendConnectors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnectorsResponse" message="tns:IConfigurationService_GetSendConnectors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnector" message="tns:IConfigurationService_GetSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetSendConnectorResponse" message="tns:IConfigurationService_GetSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddSendConnector" message="tns:IConfigurationService_AddSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddSendConnectorResponse" message="tns:IConfigurationService_AddSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateSendConnector" message="tns:IConfigurationService_UpdateSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateSendConnectorResponse" message="tns:IConfigurationService_UpdateSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSendConnector">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteSendConnector" message="tns:IConfigurationService_DeleteSendConnector_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteSendConnectorResponse" message="tns:IConfigurationService_DeleteSendConnector_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsersByDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsersByDomain" message="tns:IConfigurationService_GetLocalUsersByDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsersByDomainResponse" message="tns:IConfigurationService_GetLocalUsersByDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchExternalUserDomains">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SearchExternalUserDomains" message="tns:IConfigurationService_SearchExternalUserDomains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SearchExternalUserDomainsResponse" message="tns:IConfigurationService_SearchExternalUserDomains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalUsersByDomain">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUsersByDomain" message="tns:IConfigurationService_GetExternalUsersByDomain_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUsersByDomainResponse" message="tns:IConfigurationService_GetExternalUsersByDomain_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUserCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserCount" message="tns:IConfigurationService_GetLocalUserCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserCountResponse" message="tns:IConfigurationService_GetLocalUserCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsers" message="tns:IConfigurationService_GetLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUsersResponse" message="tns:IConfigurationService_GetLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SearchLocalUsers" message="tns:IConfigurationService_SearchLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SearchLocalUsersResponse" message="tns:IConfigurationService_SearchLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUser" message="tns:IConfigurationService_GetLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserResponse" message="tns:IConfigurationService_GetLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalUser" message="tns:IConfigurationService_AddLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddLocalUserResponse" message="tns:IConfigurationService_AddLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalUser" message="tns:IConfigurationService_UpdateLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateLocalUserResponse" message="tns:IConfigurationService_UpdateLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalUser" message="tns:IConfigurationService_DeleteLocalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteLocalUserResponse" message="tns:IConfigurationService_DeleteLocalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ExportLocalUsers" message="tns:IConfigurationService_ExportLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ExportLocalUsersResponse" message="tns:IConfigurationService_ExportLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ImportLocalUsers" message="tns:IConfigurationService_ImportLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ImportLocalUsersResponse" message="tns:IConfigurationService_ImportLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportLocalUsersWithOverwrite">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ImportLocalUsersWithOverwrite" message="tns:IConfigurationService_ImportLocalUsersWithOverwrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ImportLocalUsersWithOverwriteResponse" message="tns:IConfigurationService_ImportLocalUsersWithOverwrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateLocalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GenerateLocalUsers" message="tns:IConfigurationService_GenerateLocalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GenerateLocalUsersResponse" message="tns:IConfigurationService_GenerateLocalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLocalUserTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserTemplates" message="tns:IConfigurationService_GetLocalUserTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetLocalUserTemplatesResponse" message="tns:IConfigurationService_GetLocalUserTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUsers" message="tns:IConfigurationService_GetExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUsersResponse" message="tns:IConfigurationService_GetExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalUserCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUserCount" message="tns:IConfigurationService_GetExternalUserCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUserCountResponse" message="tns:IConfigurationService_GetExternalUserCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SearchExternalUsers" message="tns:IConfigurationService_SearchExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SearchExternalUsersResponse" message="tns:IConfigurationService_SearchExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUser" message="tns:IConfigurationService_GetExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetExternalUserResponse" message="tns:IConfigurationService_GetExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddExternalUser" message="tns:IConfigurationService_AddExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddExternalUserResponse" message="tns:IConfigurationService_AddExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateExternalUser" message="tns:IConfigurationService_UpdateExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateExternalUserResponse" message="tns:IConfigurationService_UpdateExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteExternalUser" message="tns:IConfigurationService_DeleteExternalUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteExternalUserResponse" message="tns:IConfigurationService_DeleteExternalUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMailTemplates">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetMailTemplates" message="tns:IConfigurationService_GetMailTemplates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetMailTemplatesResponse" message="tns:IConfigurationService_GetMailTemplates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTables" message="tns:IConfigurationService_GetTimeTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTablesResponse" message="tns:IConfigurationService_GetTimeTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableTypes" message="tns:IConfigurationService_GetTimeTableTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableTypesResponse" message="tns:IConfigurationService_GetTimeTableTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableAttachments">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableAttachments" message="tns:IConfigurationService_GetTimeTableAttachments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableAttachmentsResponse" message="tns:IConfigurationService_GetTimeTableAttachments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableTypeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableTypeData" message="tns:IConfigurationService_GetTimeTableTypeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableTypeDataResponse" message="tns:IConfigurationService_GetTimeTableTypeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTable" message="tns:IConfigurationService_GetTimeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetTimeTableResponse" message="tns:IConfigurationService_GetTimeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTimeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/AddTimeTable" message="tns:IConfigurationService_AddTimeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/AddTimeTableResponse" message="tns:IConfigurationService_AddTimeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/UpdateTimeTable" message="tns:IConfigurationService_UpdateTimeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/UpdateTimeTableResponse" message="tns:IConfigurationService_UpdateTimeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/DeleteTimeTable" message="tns:IConfigurationService_DeleteTimeTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/DeleteTimeTableResponse" message="tns:IConfigurationService_DeleteTimeTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ExportExternalUsers" message="tns:IConfigurationService_ExportExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ExportExternalUsersResponse" message="tns:IConfigurationService_ExportExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportExternalUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ImportExternalUsers" message="tns:IConfigurationService_ImportExternalUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ImportExternalUsersResponse" message="tns:IConfigurationService_ImportExternalUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportExternalUsersWithOverwrite">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/ImportExternalUsersWithOverwrite" message="tns:IConfigurationService_ImportExternalUsersWithOverwrite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/ImportExternalUsersWithOverwriteResponse" message="tns:IConfigurationService_ImportExternalUsersWithOverwrite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/GetCertificateFiles" message="tns:IConfigurationService_GetCertificateFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/GetCertificateFilesResponse" message="tns:IConfigurationService_GetCertificateFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/Start" message="tns:IConfigurationService_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/StartResponse" message="tns:IConfigurationService_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/Stop" message="tns:IConfigurationService_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/StopResponse" message="tns:IConfigurationService_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/IsRunning" message="tns:IConfigurationService_IsRunning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/IsRunningResponse" message="tns:IConfigurationService_IsRunning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IConfigurationService/SendMail" message="tns:IConfigurationService_SendMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConfigurationService/SendMailResponse" message="tns:IConfigurationService_SendMail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IConfigurationService" type="tns:IConfigurationService">
    <wsp:PolicyReference URI="#NetTcpBinding_IConfigurationService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetVersionInfo">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetVersionInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogNames">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLogNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogFile">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLogFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalGroups">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateLocalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddLocalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteLocalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalGroups">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateExternalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddExternalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalGroup">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteExternalGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultReceiveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetDefaultReceiveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveConnectors">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetReceiveConnectors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceiveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetReceiveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReceiveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddReceiveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReceiveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateReceiveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceiveConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteReceiveConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptySendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetEmptySendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmptyTimeTable">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetEmptyTimeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetDefaultSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDefaultSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SetDefaultSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendConnectors">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetSendConnectors" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSendConnector">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteSendConnector" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsersByDomain">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUsersByDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchExternalUserDomains">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SearchExternalUserDomains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalUsersByDomain">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalUsersByDomain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUserCount">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUserCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SearchLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteLocalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteLocalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ExportLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ImportLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportLocalUsersWithOverwrite">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ImportLocalUsersWithOverwrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateLocalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GenerateLocalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLocalUserTemplates">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetLocalUserTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalUserCount">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalUserCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SearchExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteExternalUser">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteExternalUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMailTemplates">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetMailTemplates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTables">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetTimeTables" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableTypes">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetTimeTableTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableAttachments">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetTimeTableAttachments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTableTypeData">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetTimeTableTypeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeTable">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetTimeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTimeTable">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/AddTimeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTimeTable">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/UpdateTimeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeTable">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/DeleteTimeTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ExportExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportExternalUsers">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ImportExternalUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportExternalUsersWithOverwrite">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/ImportExternalUsersWithOverwrite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCertificateFiles">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/GetCertificateFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsRunning">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/IsRunning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMail">
      <soap12:operation soapAction="http://tempuri.org/IConfigurationService/SendMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="NetTcpBinding_IConfigurationService" binding="tns:NetTcpBinding_IConfigurationService">
      <soap12:address location="net.tcp://localhost:9002/HydraService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9002/HydraService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>