Granikos.Hydra.WebClient/Service References/HydraConfigurationService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element name="GetVersionInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetVersionInfoResult" type="q1:VersionInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogNames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLogNamesResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/Message" name="GetLogFileResult" type="q3:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetDomainsResult" nillable="true" type="q4:ArrayOfDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsWithMailboxCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsWithMailboxCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetDomainsWithMailboxCountResult" nillable="true" type="q5:ArrayOfDomainWithMailboxCount" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetDomainResult" nillable="true" type="q6:Domain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="domain" nillable="true" type="q7:Domain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="UpdateDomainResult" nillable="true" type="q8:Domain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="AddDomainResult" nillable="true" type="q9:Domain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDomainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultReceiveConnector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultReceiveConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetDefaultReceiveConnectorResult" nillable="true" type="q10:ReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveConnectors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveConnectorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetReceiveConnectorsResult" nillable="true" type="q11:ArrayOfReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReceiveConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetReceiveConnectorResult" nillable="true" type="q12:ReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiveConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="connector" nillable="true" type="q13:ReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReceiveConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="AddReceiveConnectorResult" nillable="true" type="q14:ReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReceiveConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="connector" nillable="true" type="q15:ReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReceiveConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="UpdateReceiveConnectorResult" nillable="true" type="q16:ReceiveConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReceiveConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReceiveConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteReceiveConnectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmptySendConnector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmptySendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetEmptySendConnectorResult" nillable="true" type="q17:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultSendConnector">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultSendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetDefaultSendConnectorResult" nillable="true" type="q18:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultSendConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultSendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultSendConnectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendConnectors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendConnectorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetSendConnectorsResult" nillable="true" type="q19:ArrayOfSendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetSendConnectorResult" nillable="true" type="q20:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSendConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="connector" nillable="true" type="q21:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="AddSendConnectorResult" nillable="true" type="q22:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSendConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="connector" nillable="true" type="q23:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="UpdateSendConnectorResult" nillable="true" type="q24:SendConnector" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSendConnector">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSendConnectorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSendConnectorResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="perPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetLocalUsersResult" nillable="true" type="q25:LocalUsersWithTotal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchLocalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchLocalUsersResult" nillable="true" type="q26:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetLocalUserResult" nillable="true" type="q27:LocalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="user" nillable="true" type="q28:LocalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="AddLocalUserResult" nillable="true" type="q29:LocalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="user" nillable="true" type="q30:LocalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="UpdateLocalUserResult" nillable="true" type="q31:LocalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLocalUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLocalUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportLocalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/Message" name="ExportLocalUsersResult" type="q32:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLocalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/Message" name="stream" type="q33:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLocalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="ImportLocalUsersResult" nillable="true" type="q34:ImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLocalUsersWithOverwrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/Message" name="stream" type="q35:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportLocalUsersWithOverwriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="ImportLocalUsersWithOverwriteResult" nillable="true" type="q36:ImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLocalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="template" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pattern" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateLocalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateLocalUsersResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUserTemplates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocalUserTemplatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetLocalUserTemplatesResult" nillable="true" type="q37:ArrayOfUserTemplate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="perPage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetExternalUsersResult" nillable="true" type="q38:ExternalUsersWithTotal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExternalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="search" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchExternalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SearchExternalUsersResult" nillable="true" type="q39:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExternalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetExternalUserResult" nillable="true" type="q40:ExternalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExternalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="user" nillable="true" type="q41:ExternalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddExternalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="AddExternalUserResult" nillable="true" type="q42:ExternalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="user" nillable="true" type="q43:ExternalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="UpdateExternalUserResult" nillable="true" type="q44:ExternalUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExternalUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteExternalUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteExternalUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTables">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetTimeTablesResult" nillable="true" type="q45:ArrayOfTimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="GetTimeTableResult" nillable="true" type="q46:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="timeTable" nillable="true" type="q47:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="AddTimeTableResult" nillable="true" type="q48:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="timeTable" nillable="true" type="q49:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="UpdateTimeTableResult" nillable="true" type="q50:TimeTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTimeTableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportExternalUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportExternalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/Message" name="ExportExternalUsersResult" type="q51:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExternalUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/Message" name="stream" type="q52:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExternalUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="ImportExternalUsersResult" nillable="true" type="q53:ImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExternalUsersWithOverwrite">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/Message" name="stream" type="q54:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportExternalUsersWithOverwriteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="ImportExternalUsersWithOverwriteResult" nillable="true" type="q55:ImportResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateFiles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificateFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetCertificateFilesResult" nillable="true" type="q56:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Stop">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunning">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsRunningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsRunningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Granikos.Hydra.Service.Models" minOccurs="0" name="msg" nillable="true" type="q57:MailMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMailResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>